div.center-cropped {
    width: 400px;
    height: 300px;
    overflow: hidden;
}
div.center-cropped img {
    width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}


.image-gallery-slides {
  text-align: center;
}

.image-gallery-slide {
  background: #fff;
  img {
    width: auto;
    height: 200px;
  }
}
